//====================================================================================================
.page {
    position: relative;
}
////================  Aside  =========================
.social-block {
    position: absolute;
    position: fixed;
    top: 367px;
    right: 36px;
    width: 21px;
    height: 158px;
    z-index: 5;
    @media (max-width: em(1399.98)){
          top: 100px;
          position: absolute;
          right: 10%;
    }
    @media (max-width: em(1080)){
          display: none;
    }
    &__items {
        display: flex;
        flex-direction: column;
        gap: rem(32);
        align-items: center;
        justify-content: center;
        @media (max-width: em(1399.98)){
            display: flex;
            flex-direction:row;
            
      }
    }
    &__item {
        width: 25px;
        height: 22px;
        transition: 0.5s all;
        @media (any-hover: hover){
            &:hover{
                scale: 1.2;
            }
        }
    }
}
//=====================================================

.main {
    display: flex;
    flex-direction: row;
    padding-top: rem(184);
    flex-wrap: wrap;
    @media (max-width: em(1080)){
          display: flex;
          flex-direction: column;
    }
    &__content {
        flex: 0 1 50%;
    }
    &__slider {
        flex: 0 1 50%;
        min-width: 0;
        @media (max-width: em(1080)){
              width: 100%;
        }
    }
    // Создаем голубой прямоугольник 
    &__container {
        &:before{
            background: #BDCCFF;
            content: "";
            position: absolute;
            width: 200%;
            top: 0;
            left: 68%;
            height: 845px;
            @media (max-width: em(1080)){
                  display: none;
            }
        }
    }
}
.content-main {
    &__descr {
        @include adaptiveValue("margin-right", 68, 40);
        margin-top: rem(40);
    }
}
.descr-content-main {
    &__subtitle {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 29px;
        color: #FF9900;
    }
    &__title {
        margin-top: rem(24);
        font-weight: 800;
        @include adaptiveValue("font-size", 54, 40);
        line-height: 73px;
        color: #000000;
        @media (max-width:$mobile){
             line-height: 48px; 
        }
    }
    &__text {
        margin-top: rem(24);
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        letter-spacing: 0.01em;
        color: #31353B;
    }
}
.form-main {
    position: relative;
    margin-right: -188px;// чтобы кнопка залезла на слайдер
    margin-top: rem(48);
    display: flex;
    height: 86px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
    background: url(../img/input_icon.svg) 5% 50% no-repeat;// картинка в виде бекграунда в инпуте
    z-index: 2;
    @media (max-width: em(1080)){
          margin-right: 0px;
          margin-bottom: rem(20);
    }
    // опускаю кнопку вниз = под инпут
    @media (max-width:$mobile){
         display: block; 
         margin-bottom: rem(106);
    }
    &__input {
        padding: 30px 0px 30px 74px;
        background-color: transparent;
        width: 100%;
        flex: 1 1 auto;
        border: 1px solid #DADADA;
        @media (max-width:$mobile){
             @include adaptiveValue("padding-left", 94, 54);
        }
        &::placeholder {
            font-weight: 400;
            @include adaptiveValue("font-size", 20, 14);
            line-height: 27px;
            letter-spacing: 0.01em;
            color: #31353B;
            opacity: 0.3;
        }
    }
    // меняем цвет инпута при нажатии на поле ввобда 
    input:focus { 
        outline: none !important;
        border-color: #FF9900;
        box-shadow: 0 0 10px #719ECE;
    }
    &__button {
        width: 188px;
        flex: 0 0 188px;
        background: #F85A47;
        padding: 10px 15px;
        font-weight: 700;
        font-size: 17px;
        line-height: 23px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        transition: 0.5s all;
        @media (any-hover: hover){
            &:hover{
                background: #FF9900;
            }
        }
        @media (max-width:$mobile){
             width: 100%; 
             height: 86px;
        }
    }
}
// Слайдер - доп настройки
.swiper-slide {
    position: relative;
	padding-bottom: 95%;// высоту задаем процентным падингом => (height)573px / (width)603px = 0,95 или 95%
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.swiper-button-prev, .swiper-button-next {
    transition: 0.5s all;
    @media (any-hover: hover){
        &:hover{
            color:#F85A47;
        }
    }
}



.partners-block {
    margin-top: rem(15);
    display: flex;
    flex-direction: column;
    &__title {
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        letter-spacing: 0.01em;
        color: #31353B;
        @media (max-width:$mobile){
             text-align: center; 
        }
    }
    &__items {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-top: rem(40);
        align-items: center;
        flex-wrap: wrap;
        @media (max-width:$mobile){
             justify-content: center;
             align-items: center; 
        }
    }
}

//========================================================================================================
//=======================================   Works  =======================================================

.works {
    @include adaptiveValue("margin-top", 223, 120);
    &__title {
        text-align: center;
    }
    &__items {
        margin-top: rem(70);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 40px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: rem(260);
    }
}

.item-works {
    position: relative;
    &__icon {
        width: 90px;
        height: 90px;
        background: #9672FF;
        box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        &-2 {
            background: #4DDFFD;
            &:before{
                content:'';
                background-image: url(../img/how/border_2.svg);
                position: absolute;
                width: 210px;
                height: 11px;
                right: 85%;
                @media (max-width: em(1155)){
                      display: none;
                }
            }
        }
        &-3 {
            background: #F2B8EC;
            &:before{
                content:'';
                background-image: url(../img/how/border_1.svg);
                position: absolute;
                width: 210px;
                height: 11px;
                right: 85%;
                @media (max-width: em(1155)){
                    display: none;
              }
            }
        }
    }
    &__title {
        margin-top: rem(50);
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        color: #000000;
    }

    &__subtitle {
        margin-top: rem(15);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #333333;
    }
}

//========================================================================================================

//========================================Deals tabs=====================================================

.deals {
    @include adaptiveValue("margin-top", 223, 120);
}
.head-block-deals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width:$mobile){
         flex-direction: column; 
    }
    &__descr {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: rem(15);
        max-width: rem(470);
    }
    &__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    &__btn {
        height: 65px;
        padding: 20px;
        @media (max-width:$mobile){
            margin-top: 25px;
            width: 100%; 
        }
    }
}
.tabs-block {
    margin-top: rem(50);
    &__navigation {
        display: flex;
        flex-direction: row;
        @include adaptiveValue("gap", 50, 20);
        @media (max-width: em(374)){
             flex-wrap: wrap; 
             justify-content: center;
             align-items: center;
        }
    }
    &__title {
        font-weight: 400;
        @include adaptiveValue("font-size", 19, 14);
        @include adaptiveValue("line-height", 26, 20);
        color: #000000;
        transition: 0.5s all;
        border-bottom: 1px solid $tmpt-bg-clr;
        &:hover{
            color: #F85A47;
        }
        &._tab-active {
            color:#F85A47;
            border-color:#F85A47;
        }
    }
    &__content {
        margin-top: rem(45);
    }
    &__body {
    }
}

.body-tab {

    &__items {
        display: flex;
        flex-direction:row;
        gap: rem(30);
        flex-wrap: wrap;
        @media (max-width:$mobile){
             align-items: center;
             justify-content: center; 
        }
    }
    &__item {
        position: relative;
    }

    &__options {
        position: absolute;
        top: 14px;
        left: 14px;
        display: flex;
        flex-direction: row;
        gap: 18px;
        z-index: 2;
    }
    &__option {
        background: rgba(0, 0, 0, 0.4);
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        padding: rem(6) rem(12);
        color: #FFFFFF;
        cursor: pointer;
        transition: 0.5s all;
        @media (any-hover: hover){
            &:hover{
                background: rgba(0, 0, 0, 0.6);
            }
        }
    }
    // Анимация на картинке при наведении 
    &__img {
        position: relative;
        display: block;
        overflow: hidden;
        img {
            transition: 0.5s all;
            @media (any-hover: hover){
                &:hover{
                    transform: scale(1.1);
                }
            }
        } 
    }
}
//========================================================================================================

//==================================       Featured      ==============================================

.featured {
@include adaptiveValue("margin-top", 240, 120);
    &__title {
        text-align: center;
    }
    &__body {
        background: #F1FFFF;
        padding: rem(40) rem(40) rem(82) rem(40);
    }
}

.body-featured {
    margin-top: rem(95);
    display: flex;
    display: flex;
    flex-direction: row;
    gap: rem(70);
    @media (max-width: em(980)){
        flex-direction: column;
    }
    &__images {
        flex: 0 1 50%;
        height: 500px;
    }
    &__img {
        position: relative;
        padding-bottom: 95%;
        max-width: 492px;
        @media (max-width: em(980)){
            display: none;
        }
        img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        object-fit: cover;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        @media (max-width: em(980)){
            padding-bottom: 55%;
        }
        }
        &-2 {
            padding-bottom: 0%;
            img {
                top: -263px;
                max-width: 410px;
                height: 278px; 
                left: 50%;
                transform: translate(-50%);
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }
    }
}
.info-featured {
    flex: 0 1 50%;
    max-width: rem(412);
    @media (max-width: em(980)){
        max-width: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-weight: 600;
        font-size: 31px;
        line-height: 42px;
        color: #000000;
        @media (max-width:$mobile){
            font-size: 23px;
            line-height: 28px; 
        }
    }
    &__subtitle {
        margin-top: rem(28);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #545A58;
    }
    &__btn {
        display: block;
        width: 100%;
        margin-top: rem(54);
    }
}
.table-featured {
    margin-top: rem(42);
    display: grid;
    grid-template-columns: repeat(3, 100px);
    
    @include adaptiveValue("column-gap", 80, 40);
    @include adaptiveValue("row-gap", 40, 20);
    @media (max-width: em(980)){
        justify-content: center;
    }
    @media (max-width: em(450)){
         display: grid;
         grid-template-columns: repeat(2, 100px); 
    }
    &__title {
        font-weight: 700;
        font-size: 17px;
        line-height: 23px;
        color: #000000;

    }

    &__sub {
        margin-top: rem(12);
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        color: #545A58;
    }
}
.button {
}
//========================================================================================================
//========================================================================================================